// colors
$color-dark-backgorund: #171823;
$color-dark-backgorund-box: #25273d;
$font-family: "Josefin Sans", sans-serif;
$color-primary-white: #fff;
$font-weight-bold: 700;
$font-weight-regular: 400;
$background-color-lightmode: #fff;
$text-color-light: #494c6b;
$text-color-input: #767992;
$border-color-dark: #393a4b;
$text-color-light: #494c6b;
$border-color-light-icon: #979797;
$border-color-light: #e3e4f1;

@mixin center-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $color-dark-backgorund;
  font-family: $font-family;
  line-height: 1.4;
  position: relative;

  &.light-mode {
    background-color: $background-color-lightmode;
    .main__box--flex {
      border-bottom-color: $border-color-light;
    }
    .main__box--check {
      border: 1px solid #e3e4f1;
    }
    .main__form--icon {
      border: 1px solid #afafbb;
    }
    .main__box-otherlist {
      color: $text-color-light;
    }
    .text-through {
      color: #d1d2da;
    }
    .bcg-img {
      background-image: url("../imges/bg-desktop-light.jpg");
    }
  }
}
ul,
li {
  list-style: none;
}

.main {
  &__background {
    background-image: url("../assests/imges/bg-desktop-dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  &__information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }
  &__information-title {
    color: $color-primary-white;
    font-weight: $font-weight-bold;
    font-size: 2rem;
  }

  &__form__input {
    border: none;
    background-color: inherit;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 9px;
    font-family: inherit;
    font-size: 1.1rem;
    color: $text-color-input;
  }
  &__form__input:focus {
    outline: none;
  }
  &__form--icon {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #393a4b;
    display: inline-block;
  }

  .main__form-box {
    width: 100%;
  }

  &__box-otherlist {
    padding-top: 0rem;
    padding-bottom: 0;
    padding-left: 0rem;
    padding-right: 0rem;
    color: #c8cbe7;
    font-weight: 400;
    border-radius: 0;
  }
  &__box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.6rem;
    gap: 20px;
  }
  &__box--check {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #393a4b;
    display: inline-block;
    cursor: pointer;
    position: relative;
    background: none;
  }
  &__box-items {
    background-color: $color-dark-backgorund-box;
    border-radius: 7px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin: 0 auto;
  position: absolute;
  @include center-position();
  height: 100%;
}

.main__box-otherlist-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  color: #5b5e7e;
}
.list__item-btn {
  display: flex;
  gap: 10px;
}
.active {
  color: #3a7cfd;
}
.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: inherit;
  &--clear {
    color: #5b5e7e;
    font-size: 1rem;
  }
}
.completed {
  text-decoration-line: line-through;
  font-weight: 600;
  color: #4d5067;
}
.main__box--flex {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #393a4b;
  padding-right: 20px;
}

.main__box--flex:hover {
  position: relative;
  display: flex;
  align-items: center;
}

.main__box--flex:hover .btn--close::before,
.main__box--flex:hover .btn--close::after {
  content: "";
  position: absolute;
  right: 1rem;
  width: 20px;
  height: 2px;
  background-color: grey;
  cursor: pointer;
}
.main__box--flex:hover .btn--close::before {
  transform: rotate(45deg);
}
.main__box--flex:hover .btn--close::after {
  transform: rotate(-45deg);
}

.btn--lightdark {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
}

.color-white-form {
  background-color: $background-color-lightmode;
}
// .color-form-title {
//   background-color: #25273d;
// }

.main__form {
  margin-top: 1rem;
  background-color: #25273d;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  gap: 20px;
  width: 500px;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  border-radius: 5px;
}
.main__form--alternate {
  background-color: #e9e9e9;
}

// add javascript
.highlight {
  background: linear-gradient(135deg, #5df 0%, #c058f3 100%);

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 222;
    background-image: url("../assests/imges/Path.svg");
    background-repeat: no-repeat;
    background-position: center;
    @include center-position;
  }
}

.item {
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 3rem 3rem;
  color: #5b5e7e;
}

.img {
  background-image: url("../assests/imges/moon.svg");
}
