// colors
$color-dark-backgorund: #171823;
$color-dark-backgorund-box: #25273d;

// #55DDFF #C058F3
// $background-img-desktop: "./images/bg-desktop-dark.jpg";
$font-family: "Josefin Sans", sans-serif;
$color-primary-white: #fff;
$font-weight-bold: 700;
$font-weight-regular: 400;
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #171823;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
  position: relative;
}
ul,
li {
  list-style: none;
}

.main {
  &__background {
    background-image: url("../assests/imges/bg-desktop-dark.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  &__information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3rem;
  }
  &__information-title {
    color: $color-primary-white;
    font-weight: $font-weight-bold;
    font-size: 2rem;
  }

  &__form__input {
    border: none;
    background-color: inherit;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 9px;
    font-family: inherit;
    font-size: 1.1rem;
    color: #767992;
  }
  &__form__input:focus {
    outline: none;
  }
  &__form--icon {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #393a4b;
    display: inline-block;
  }
  .main__form {
    margin-top: 1rem;
    background-color: #25273d;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    gap: 20px;
    width: 500px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 5px;
  }
  .main__form-box {
    width: 100%;
  }

  &__box-otherlist {
    padding-top: 0rem;
    padding-bottom: 0;
    padding-left: 0rem;
    padding-right: 0rem;
    color: #c8cbe7;
    font-weight: 400;
    border-radius: 0;
  }
  &__box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.6rem;
    gap: 20px;
  }
  &__box--check {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #393a4b;
    display: inline-block;
    cursor: pointer;
  }
  &__box-items {
    background-color: $color-dark-backgorund-box;
    border-radius: 7px;
  }
  &__box-item {
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%; // برای اینکه تکون نخوره
}
.footer {
  text-align: center;
  padding: 3rem 3rem;
  color: #5b5e7e;
}
.main__box-otherlist-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  color: #5b5e7e;
}
.list__item-btn {
  display: flex;
  gap: 10px;
}
.item.active {
  color: #3a7cfd;
}
.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: inherit;
  &--clear {
    color: #5b5e7e;
    font-size: 1rem;
  }
}
.text-through {
  text-decoration-line: line-through;
  // color: red;
  font-weight: 600;
}
.main__box--flex {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #393A4B;
  padding-right: 20px;
}
.main__box--flex:hover {
  position: relative;
  display: flex;
  align-items: center;
}

.main__box--flex:hover .btn--close::before,
.main__box--flex:hover .btn--close::after {
  content: "";
  position: absolute;
  right: 1rem;
  width: 20px;
  height: 2px;
  // padding-right: 20px;
  background-color: grey;
  cursor: pointer;
}
.main__box--flex:hover .btn--close::before {
  transform: rotate(45deg);
}
.main__box--flex:hover .btn--close::after {
  transform: rotate(-45deg);
}
