// colors
$color-dark-backgorund: #171823; // #55DDFF #C058F3
$background-img-desktop: "/src/images/bg-desktop-dark.jpg";
$font-family: "Josefin Sans", sans-serif;
$color-primary-white: #fff;
$font-weight-bold: 700;
$font-weight-regular: 400;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: $color-dark-backgorund;
  font-family: $font-family;
  line-height: 1.4;
  position: relative;
}

.main {
  &__background {
    background-image: url($background-img-desktop);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  &__information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__information-title {
    color: $color-primary-white;
    font-weight: $font-weight-bold;
    font-size: 3rem;
  }

  &__form{
    
  }
  .section__info {
    position: absolute;
    max-width: 500px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  &__form__input{
   
    border: none;
    background-color: inherit;
    margin: 0;
    width: 100%;
    // flex: 1;
    // padding: 2.5rem 1.3rem;
    padding: 1rem ;
     border-radius: 9px;
     font-family: inherit;
     font-size: 1.8rem;
     color: #767992;
  }
  &__form__input:focus{
    outline: none;
  }
  &__form--icon{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #393A4B;
    display: inline-block;
   
    
  }
  .main__form{
    margin-top: 2rem;
    background-color: #25273D;
    align-items: center;
    display: flex;
    gap: 10px;
    width: 500px;
    padding: 1.4rem 2rem;
    align-items: center;
    border-radius: 5px;


    

    
  
  }
  .main__form-box{
    width: 100%;
  }

}
